@media(min-width:1340px){
    .what-to-recieve h1 {
        margin-right: calc((100vw - 1200px)/2);
        &::before{
            left: auto;
            right: 103%;
            width: calc(100vw - 685px - ((100vw - 1200px)/2));
        }
    }
    .what-is-it h1{
        margin-left: calc((100vw - 1200px)/2);
        &::before{
            right: auto;
            left: 103%;
            width: calc(100vw - 685px - ((100vw - 1200px)/2));
        }
    }
   .questions .heading-block h1{
        margin-left: calc((100vw - 1200px)/2);
        &::before{
            right: auto;
            left: 103%;
            width: calc(100vw - 618px - ((100vw - 1200px)/2));
        }
    }
}
@media(max-width:1100px){
    .about .container {
        .info {
            width: 50%;
            
        }
        .img-block{
            margin-left: 50px;
        }
        .owner{
            width: 680px;
            right: -20px;
            top: 0px;
        }
    }
    .main-form .form-wrapper {
        padding: 30px 30px;
        width: 90%;
        form{
            width: 50%;
            input{
                width: 80%;
            }
        }
        .form-img{
            height: auto;
            width: 50%;
        }
    }
}

@media(max-width:876px){
    footer{
        img{
            margin: 0 30px;
        }
    }

    .about{
        padding-bottom: 0px;
        .container{
            flex-direction: column;
            .info{
                width: 100%;
                max-width: 100%;
            }
            .owner{
                position: relative;
    top: -80px;
    right: 85px;
    width: 700px;
            }
            .img-block{
                position: relative;
                height: 650px;
                margin-left: 0px;
                
            }
            .img-block .numbers{
                margin: auto;
    
                position: absolute;
                top: 300px;
                width: 80%;
                left: 0;
                right: 0;
                
                justify-content: space-around;
                
                margin-top: 0px;
                .num-block{
                    text-align: center;
                }
            }
            
        }
    }
}

@media(max-width:768px){
    footer{
        padding: 30px 0;
        .container{
            flex-direction: column-reverse;
            align-items: flex-start;
            img{
                margin: 30px 0;
            }
            .footer-nav{
                text-align: start;
                padding: 0px;
            }
        }
    }

    .main-form .form-wrapper{
        #left-btm-corner, #right-btm-corner, #right-top-corner{
            display: none;
        }
    }

    .questions .question {
        .answer{
            p, li{
                font-size: 16px;
            }
        }
        .wrapper h3{
            font-size: 20px;
        }
    }
    .questions .question .wrapper h1{
        font-size: 50px;
    }
    .questions .question .answer{
        p, ul{
            width: 100%;
        }
    }

}
@media(max-width:576px){

    .about .container .img-block {
        height: 550px;
    }
    .about .container .img-block .numbers {
        left: -40px;
        width: 300px;
        .num-block{
            margin: 0 10px;
        }
        h1{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
    }
    
    .main-form .form-wrapper{
        width: 85%;
        flex-direction: column;
        form{
            width: 100%;
            margin-bottom: 50px;
            input{
                width: 90%;
                
            }
            button{
                width: 100%;
            }
        }

    }
    .main-form .form-wrapper .form-img {
        width: auto;
        height: 120px;
    }
}