@media (min-width: 1340px) {
  .what-to-recieve h1 {
    margin-right: calc((100vw - 1200px)/2);
  }
  .what-to-recieve h1::before {
    left: auto;
    right: 103%;
    width: calc(100vw - 685px - ((100vw - 1200px)/2));
  }
  .what-is-it h1 {
    margin-left: calc((100vw - 1200px)/2);
  }
  .what-is-it h1::before {
    right: auto;
    left: 103%;
    width: calc(100vw - 685px - ((100vw - 1200px)/2));
  }
  .questions .heading-block h1 {
    margin-left: calc((100vw - 1200px)/2);
  }
  .questions .heading-block h1::before {
    right: auto;
    left: 103%;
    width: calc(100vw - 618px - ((100vw - 1200px)/2));
  }
}

@media (max-width: 920px) {
  header {
    overflow: hidden;
  }
  header .container {
    position: relative;
    z-index: 10;
  }
  header .container .content-block {
    width: 100%;
  }
  header .header-img {
    z-index: 0;
    overflow: hidden;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0px;
  }
  header .header-img img {
    height: 100%;
    width: auto;
  }
  header .header-img object {
    display: none;
  }
}

@media (max-width: 1100px) {
  header .content-block {
    width: 50%;
  }
  .about .container .info {
    width: 50%;
  }
  .about .container .img-block {
    margin-left: 50px;
  }
  .about .container .owner {
    width: 680px;
    right: -20px;
    top: 0px;
  }
  .main-form .form-wrapper {
    padding: 30px 30px;
    width: 90%;
  }
  .main-form .form-wrapper form {
    width: 50%;
  }
  .main-form .form-wrapper form input {
    width: 80%;
  }
  .main-form .form-wrapper .form-img {
    height: auto;
    width: 50%;
  }
}

@media (max-width: 876px) {
  .main-form .form-wrapper form button {
    font-size: 16px;
  }
  .main-form .form-wrapper form button .strong {
    font-size: 18px;
  }
  .what-is-it h1, .what-to-recieve h1, .questions .heading-block h1 {
    width: auto;
    text-align: start;
    margin-right: 5%;
    margin-left: 5%;
  }
  .what-is-it h1::before, .what-to-recieve h1::before, .questions .heading-block h1::before {
    display: none;
  }
  .what-is-it h1::after, .what-to-recieve h1::after, .questions .heading-block h1::after {
    display: none;
  }
  .advantages .advantages-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages .advantages-row .content-block {
    margin: auto;
    width: 40% !important;
  }
  .advantages .advantages-row .content-block .vector {
    width: 42px;
    height: 78px;
  }
  .advantages .advantages-row .content-block.big {
    cursor: pointer;
    height: 170px;
    position: relative;
    padding: 30px 20px;
    width: 18%;
  }
  .advantages .advantages-row .content-block.big h2 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
  }
  .advantages .advantages-row .content-block.big p {
    margin: 0;
    width: 70%;
    font-size: 12px;
    font-weight: 400;
  }
  .advantages .advantages-row .content-block.big .vector {
    width: 42px;
  }
  .advantages .advantages-row .content-block.big .corner {
    width: 35px;
  }
  footer img {
    margin: 0 30px;
  }
  .about {
    padding-bottom: 0px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .info {
    width: 100%;
    max-width: 100%;
  }
  .about .container .owner {
    position: relative;
    top: -80px;
    right: 85px;
    width: 700px;
  }
  .about .container .img-block {
    position: relative;
    height: 650px;
    margin-left: 0px;
  }
  .about .container .img-block .numbers {
    margin: auto;
    position: absolute;
    top: 300px;
    width: 80%;
    left: 0;
    right: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0px;
  }
  .about .container .img-block .numbers .num-block {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .what-to-recieve .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .what-to-recieve .container .txt-content {
    text-align: start;
  }
  .what-to-recieve .container .txt-content button {
    margin: auto;
  }
  .what-to-recieve .container .txt-content #focus {
    display: none;
  }
  .what-to-recieve .container .img-content img {
    width: 50%;
  }
  .what-to-recieve .container .txt-content #txt-points-btm {
    right: 30px;
  }
  footer {
    padding: 30px 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container img {
    margin: 30px 0;
  }
  footer .container .footer-nav {
    text-align: start;
    padding: 0px;
  }
  .main-form .form-wrapper #left-btm-corner, .main-form .form-wrapper #right-btm-corner, .main-form .form-wrapper #right-top-corner {
    display: none;
  }
  .questions .question .answer p, .questions .question .answer li {
    font-size: 16px;
  }
  .questions .question .wrapper h3 {
    font-size: 20px;
  }
  .questions .question .wrapper h1 {
    font-size: 50px;
  }
  .questions .question .answer p, .questions .question .answer ul {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .questions .question .wrapper h3 {
    margin: 10px 0;
  }
  .advantages .advantages-row .content-block {
    height: 220px;
    width: 35% !important;
  }
  .advantages .advantages-row .content-block p {
    width: 100%;
  }
  .advantages .advantages-row .content-block.big {
    height: 220px;
  }
  .advantages .advantages-row .content-block.big p {
    width: 100%;
  }
  .advantages .heading-block h1 {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header ul li:last-child {
    margin-top: 20px;
  }
  .about .container .img-block {
    height: 550px;
  }
  .about .container .img-block .numbers {
    left: -40px;
    width: 300px;
  }
  .about .container .img-block .numbers .num-block {
    margin: 0 10px;
  }
  .about .container .img-block .numbers h1 {
    font-size: 40px;
  }
  .about .container .img-block .numbers p {
    font-size: 16px;
  }
  .main-form .form-wrapper {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-form .form-wrapper form {
    width: 100%;
    margin-bottom: 50px;
  }
  .main-form .form-wrapper form input {
    width: 90%;
  }
  .main-form .form-wrapper form button {
    width: 100%;
  }
  .main-form .form-wrapper form button span {
    margin: 0 10px;
  }
  .main-form .form-wrapper .form-img {
    width: auto;
    height: 120px;
  }
}
/*# sourceMappingURL=media.css.map */